/*------------------*/
/* Single Post Page */
/*------------------*/

.single-post-meta {
    h4, h6 {
        margin: ($text-space-unit / 2) 0;
    }
}

.single-post-content {
    margin: $space-unit 0;
    padding: $space-unit 0;
    border-top: solid 1px $medium-gray;
    
    &.comments-open {
        border-bottom: solid 1px $medium-gray;
    }
    
    @include breakpoint($size-md) {
        p, ul, ol {
            margin: ($text-space-unit * 1.5) 0;
            
            &:first-child {
                margin-top: 0;
            }
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}