/*----------*/
/* Comments */
/*----------*/

.commentlist {
    .comment {
        padding: $text-space-unit ($text-space-unit * 2);
        border-bottom: solid 1px $light-gray;
        
        &:last-child {
            border-bottom: 0;
        }
    }
    
    .comment-meta {
        a {
            text-decoration: none;
        }
    }
    
    .comment-reply-link {
        @extend %puzzle-button;
        margin-left: 0;
        margin-right: 0;
        line-height: 1;
    }
    
    .children {
        list-style: none;
    }
}

.navigation {
    @extend %clearfix;
    
    a {
        text-decoration: none;
    }
}