/*----------------*/
/* Navigation Bar */
/*----------------*/

.main-nav {
    position: fixed;
    top: 0;
    bottom: auto;
    background-color: rgba(#fff, 0.95);
    z-index: 2;
    width: 100%;
    @include box-shadow(0px 2px 2px 0px rgba(#000, 0.05));
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    
    &.home-nav {
        position: absolute;
        top: auto;
        bottom: 0;
        background-color: rgba(#fff, 0.05);
        
        .nav-logo {
            display: none;
        }
        
        a {
            color: #fff;
            
            &:hover {
                color: rgba(#fff, 0.5);
            }
        }
    }
    
    .row {
        @include align-items(center);
        height: $nav-height;
        padding: 5px;
    }
    
    ul {
        margin: 0;
    }
    
    li {
        font-size: 1.4rem;
        font-weight: $semibold;
        text-transform: uppercase;
    }
    
    a {
        color: $body-color;
        text-decoration: none;
    }
    
    .small-logo-container {
        margin-left: 30px;
    }
}

@include breakpoint(601px) {
    body.admin-bar .main-nav:not(.home-nav) {
        top: 46px;
    }
}

@include breakpoint(783px) {
    body.admin-bar .main-nav:not(.home-nav) {
        top: 32px;
    }
}

/* Mobile menu */
#dl-menu.dl-menuwrapper {
    float: right;
    height: 45px;
    
    button, ul {
        right: 15px;
        background-color: $blue;
    }
    
    button {
        @extend %default-transition;
        position: absolute;
        top: 0;
        
        &.dl-active {
            background-color: $orange;
        }
        
        .home-nav & {
            background-color: rgba(#fff, 0.3);
            
            &.dl-active {
                background-color: $orange;
            }
        }
    }
    
    ul {
        @include box-shadow(0px 2px 2px 0px rgba(#000, 0.05));
        top: 50px;
        left: auto;
        width: 180px;
        
        li {
            margin: 0;
        }
    }
    
    a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
        font-size: 1.2rem;
        font-weight: $semibold;
        
        &:hover {
            background-color: $orange;
            color: #fff;
        }
    }
    
    li.dl-back:after, li > a:not(:only-child):after {
        font-family: 'FontAwesome';
        font-size: 18px;
        line-height: 40px;
        content: '\f0da';
    }
}

/* Desktop menu */
.desktop-nav-menu {
    display: none;
    
    ul {
        margin: 0;
        list-style: none;
        text-align: right;
    
        li {
            display: inline-block;
        
            a {
                display: block;
                padding: 1rem 1.5rem;
                
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

@include breakpoint($size-md) {
    #dl-menu {
        display: none;
    }
    
    .desktop-nav-menu {
        display: block;
    }
}