/*------------*/
/* Pagination */
/*------------*/

.pagination {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    
    @include breakpoint($size-md) {
        @include justify-content(flex-start);
    }
}

.page-numbers {
    @include flex(0 1 auto);
    margin: 0.5rem;
    padding: 0.5rem 0.7rem;
    @extend %default-border-radius;
    color: $body-color;
    text-decoration: none;
    
    &.current {
        background-color: $orange;
        color: #fff;
    }
    
    &.disabled {
        background-color: #f7f7f7;
        color: rgba($body-color, 0.15);
    }
    
    &.dots {
        border-color: transparent;
    }
    
    @include breakpoint($size-md) {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

a.page-numbers {
    border-color: transparent;
    background-color: $light-blue;
    
    &:hover, &:focus {
        background-color: $blue;
        color: #fff;
    }
    
    &:active {
        background-color: darken($blue, 10%);
        color: #fff;
    }
}
