/*---------------------------*/
/* Puzzle Accordions Section */
/*---------------------------*/

.puzzle-accordions-content {
    padding: 15px 0;
    
    > .column {
        margin-top: 10px;
        padding: 0 15px;
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    .column-inner {
        @extend %default-border-radius;
        background-color: #fff;
        @include transition(all 0.4s ease);
        
        &.active-accordion {
            .puzzle-accordion-headline {
                .fa:before {
                    content: '\f068';
                }
            }
        }
    }
    
    .puzzle-accordion-headline {
        @extend %clearfix;
        margin: 0;
        color: $blue;
        cursor: pointer;
        @include transition(all 0.4s ease);
        
        span {
            float: left;
            display: block;
            width: calc(100% - 40px);
        }
    
        .fa {
            @include transition(all 0.4s ease);
            float: left;
            width: 40px;
            padding-left: 10px;
            color: $medium-gray;
            font-size: 36px;
            
            &:before {
                content: '\f067';
            }
        }
        
        &:hover {
            color: $orange;
            
            .fa {
                color: $body-color;
            }
        }
    }
    
    .puzzle-accordion-content {
        display: none;
        padding: 10px 0;
    }
}

.white-background .puzzle-accordions-content .column-inner {
    background-color: $light-gray;
}