/*----------*/
/* Sections */
/*----------*/

/* Section backgrounds */

.white-background {
    background-color: #fff;
}

.light-blue-background {
    background-color: $light-blue;
}

.blue-background {
    background-color: $blue;
}

.orange-background {
    background-color: $orange;
}

.blue-background, .orange-background{
    &, h1, h2, h3, h4, h5, h6, p, li, th, td {
        color: #fff;
    }
    
    p, li, td {
        font-weight: $normal;
    }
    
    a:hover {
        color: rgba(#fff, 0.75);
    }
}

.blue-background {
    a {
        color: lighten($orange, 10%);
    }
}

/* Paragraph spacing */

.tight-spacing {
    h1, h2, h3, h4, h5, h6, p, ul, ol {
        margin: ($text-space-unit / 3) 0;
    }
}

/* Alignment */

.align-text-left {
    text-align: left;
}

.align-text-center {
    text-align: center;
}

.align-text-right {
    text-align: right;
}

/* Miscellaneous */

.puzzle-section-headline {
    text-align: center;
    
    h2 {
        margin: 0;
    }
}

.one-column-section, .two-column-section {
    .column {
        @include display-flex;
        @include align-items(center);
        
        .column-inner {
            @include flex(1 1 auto);
        }
    }
}

.two-column-section {
    &.align-top {
        .column {
            @include align-items(flex-start);
        }
    }
    
    &.align-center {
        .column {
            @include align-items(center);
        }
    }
}