/*---------*/
/* Vectors */
/*---------*/

.vector-container {
    position: relative;
    overflow: hidden;
    height: 0;
    
    svg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
    }
}

.small-logo-container {
    display: block;
    width: 36px;
    padding-bottom: 50px;
    
    &:hover {
        opacity: 0.75;
    }
}