/*---------*/
/* Vectors */
/*---------*/

.vector-container {
    position: relative;
    height: 0;
    
    svg {
        position: absolute;
        right: 0;
        left: 0;
    }
}

.small-logo-container {
    display: block;
    width: 36px;
    padding-bottom: 50px;
    
    &:hover {
        opacity: 0.75;
    }
}