/*--------*/
/* Global */
/*--------*/

html, body {
    height: 100%;
}

html {
    // Allows for rems to size similar to px
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font: 14px / 1.75 $open-sans;
    font-size: 1.4rem;
    -webkit-font-smoothing: subpixel-antialiased;
    
    @include breakpoint($size-md) {
        font-size: 2rem;
        line-height: 1.85;
    }
}

main {
    display: block;
    
    > section {
        &:first-child {
            padding-top: $nav-height + $space-unit;
            
            &:only-child {
                padding-bottom: $space-unit * 2 + 10px;
            }
        }
        
        &.no-padding-top:first-child {
            padding-top: $nav-height;
        }
        
        &.large-padding-top:first-child {
            padding-top: $nav-height + ($space-unit * 2);
        }
    }
    
    ul, ol {
        margin-left: ($text-space-unit * 2);
    }
}

section {
    position: relative;
    padding: $space-unit 0;
    
    &.no-padding-top {
        padding-top: 0;
    }
    
    &.no-padding-bottom {
        padding-bottom: 0;
    }
    
    &.large-padding-top {
        padding-top: $space-unit * 2;
    }
    
    &.large-padding-bottom {
        padding-bottom: $space-unit * 2;
    }
}