/*------*/
/* Text */
/*------*/

h1, h2, h3, h4, h5, h6, ul, ol {
    font-family: $open-sans;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    &:first-child {
        margin-top: 0;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6, th {
    color: $headline-color;
    font-weight: $semibold;
}

h1, h2, h3, h4, h5, h6 {
    margin: ($text-space-unit * 2) 0 $text-space-unit 0;
    
    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: $text-space-unit;
    }
    
    a {
        text-decoration: none;
    }
}

h1, h2, h3 {
    line-height: 1.3;
}

h1, h2 {
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.4rem;
}

p, li, th, td {
    font-size: 1.4rem;
}

p, li, td {
    color: $body-color;
    font-weight: $light;
}

p, ul, ol {
    margin: $text-space-unit 0;
}

p {
    line-height: 1.75;
}

li {
    margin: ($text-space-unit / 3) 0;
}

strong {
    font-weight: $semibold;
}

small {
    font-size: 80%;
}

hr {
    margin: ($text-space-unit * 2) 0;
    border: 0;
    border-bottom: solid 1px #888;
}

a {
    @include transition(all 0.4s ease);
    color: $blue;
    text-decoration: none;
    
    &:hover {
        color: $orange;
    }
}

@include breakpoint($size-md) {
    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 4.5rem;
    }
    
    h3 {
        font-size: 3.6rem;
    }
    
    h4 {
        font-size: 2.2rem;
    }
    
    h5 {
        font-size: 2rem;
    }

    h6 {
        font-size: 1.6rem;
    }
    
    p, li, th, td {
        font-size: 2rem;
    }
    
    p {
        line-height: 1.85;
    }
}