/*-----------------*/
/* Utility Classes */
/*-----------------*/

%button {
    @extend %default-transition;
    @extend %default-border-radius;
    display: inline-block;
    padding: 1rem 2rem;
    border: 0;
    background-color: $blue;
    color: #fff;
    font-weight: $normal;
    letter-spacing: 0.05rem;
    text-align: center;
    text-decoration: none;
    
    &:hover {
        background-color: $orange;
        color: #fff;
    }
}

.spc-button {
    @extend %button;
}

.blue-background .spc-button {
    background-color: $orange;
    color: #fff;
    
    &:hover {
        background-color: #fff;
        color: $blue;
    }
}

.orange-background .spc-button {
    color: #fff;
    
    &:hover {
        background-color: #fff;
        color: $blue;
    }
}

%clearfix {
    &:after {
        clear: both;
        display: table;
        content: " ";
    }
}

%default-border-radius {
    border-radius: 3px;
}

%default-transition {
    transition: all 0.4s ease;
}
