/*-----------------*/
/* Utility Classes */
/*-----------------*/

%puzzle-button {
    @include transition (all 0.4s ease);
    @extend %default-border-radius;
    display: inline-block;
    padding: 1rem 2rem;
    border: 0;
    background-color: $blue;
    color: #fff;
    font-weight: $normal;
    letter-spacing: 0.05rem;
    text-align: center;
    text-decoration: none;
    
    &:hover {
        background-color: $orange;
        color: #fff;
    }
}

.puzzle-button {
    @extend %puzzle-button;
}

.blue-background .puzzle-button {
    background-color: $orange;
    color: #fff;
    
    &:hover {
        background-color: #fff;
        color: $blue;
    }
}

.orange-background .puzzle-button {
    color: #fff;
    
    &:hover {
        background-color: #fff;
        color: $blue;
    }
}