/*-----------------*/
/* Utility Classes */
/*-----------------*/

%puzzle-button {
    @include transition (all 0.4s ease);
    @extend %default-border-radius;
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    background-color: $blue;
    color: #fff;
    text-align: center;
    text-decoration: none;
    
    &:hover {
        background-color: $orange;
        color: #fff;
    }
}

.puzzle-button {
    @extend %puzzle-button;
}